<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NOVA Geotechnical Las Vegas Inventory</title>
  <meta name="description" content="NOVA GeoTechnical Las Vegas Inventory">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf-6.4.3/jq-3.3.1/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/kt-2.5.0/sc-1.5.0/sl-1.2.6/datatables.min.css"/>
</head>

<body>
  <div style="margin: 25px 50px 75px;">
    <table id="inventory">
      <thead>
        <tr>
          <th>Inventory Tag</th>
          <th>Calibration Date</th>
          <th>Due Date</th>
          <th>Calibration Frequency</th>
          <th><a href="PDF of Calibration"></th></a>
          <th>Current Status</th>
        </tr>
      </thead>
    </table>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/zf-6.4.3/jq-3.3.1/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/kt-2.5.0/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>
  <script>
  $(document).ready(function() {
      $('#inventory').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        "ajax": {
            "url": "api/inventory/?format=datatables",
            "type": "GET"
        },
        "columns": [
            { "data": "inventory_tag" },
            { "data": "calibration_date" },
            { "data": "due_date" },
            { "data": "calibration_frequency" },
            { "data": "intro_pdf" },
            { "data": "status" },
        ]
      });
  });
  </script>
</body>
</html>
